div {
    border: 2px dashed blue;
}

.Login {
    margin: auto;
    width: 50%;
    text-align: center;
}

.loginNav {
    text-align: right;
}

.dividerHorizontal {
    width: 10px;
    height: auto;
    display: inline-block;
}

Button + Button {
    height: 5px;
    width: auto;
}

Form {
    padding: 10px;
}

.header {
    min-height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
}